<!-- <input type="text" #result>
<button (click)="showSearchResult(result.value)">Search</button>
<br>
{{ inputedSearchResult }} -->

<br>
<button (click)="registerUser()">Register Form</button>
<button (click)="loginUserForm()">Login Form</button>
<button (click)="newHouse()">House register Form</button>

<!-- LOGIN -->
<app-user-auth-component
  *ngIf="statusLogin"
  [authUser]="authUser"
  (logUser)="loginUser($event)">
</app-user-auth-component>

<br>

<!--USER REGISTER-->
<app-user-registration-component
*ngIf="statusRegister"
[addUser]="addUser"
(newUser)="createNewUser($event)">
</app-user-registration-component>

<!-- HOUSE REGISTER -->
<app-house-registration-component
  *ngIf="houseRegister"
  [addHouse]="addHouse"
  (addNewHouse)="createNewHouse()">
</app-house-registration-component>
  <br>
<!--HOUSE FORM-->
<app-house-component
  *ngFor="let house of houses"
  [house]="house">
</app-house-component>

 <!--{{ 10000 | currencyConverter }}-->
  <br>
  <br>
  <br>
  <br>
<!--USER FORM-->
<app-user-component
  *ngFor="let user of users"
  [user]="user">
</app-user-component>
