<input type="text" #result>
<button (click)="showSearchResult(result.value)">Search</button>

<br> 

{{inputedSearchResult}}

<br>
<button (click)="registerUser()">Register</button>
<button (click)="loginUser()">Login</button>

<form *ngIf="statusLogin">
    <input type="email" name="email" placeholder="email@mail.com" >
    <br>
    <input type="password" name="password">
  </form>



<form *ngIf="statusRegister" >
    <input type="text" name="login" placeholder="login" >
    <br>
    <input type="email" name="email" placeholder="email@mail.com"  >
    <br>
    <input type="password" name="password" >
  </form>
  
  <br>

  <div *ngFor="let house of houses">
      <br>  
      City: {{house.city}}
      <br>
      Street: {{house.street}}
      <br>
      Rooms: {{house.rooms}}
  </div>